body {
    background: url("./ricepaper_v3.png");
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 0;
    width: 85%;
    margin: 0 auto;
    padding: 1em 0;
    line-height: 150%;
    zoom: 1;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    font-size: 2em;
    font-weight: 100;
    font-family: 'Nixie One', cursive;
    text-align: center;
  }
  
  p {
    text-align: center;
    font-size: 1em;
  }
  
  /* STYLED TABLE */
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: cornflowerblue;
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid cornflowerblue;
  }
  
  .styled-table tbody tr:hover {
    font-weight: bold;
    color: rgb(1, 10, 27);
  }
  
  /* General Buttons */
  button {
    width: 11em;
    height: auto;
    background: linear-gradient(to bottom, #c4c4c4 0%,#575454 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid rgb(75, 75, 75);
    color: #fbfbfb;
    outline: none;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    text-align: center;
    font-size: 0.95em;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(12, 1, 61, 0.2);
    cursor: pointer;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #fbfbfb65;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Open Sans', sans-serif;
    opacity: 98%;
    margin-bottom: 4em;
  }

  .right-para {
    background-image: url("/static/de2.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 500px;
    width: 702;

  }

  .container-r {
    height: 500px;
    width: 1100;

    float: right;
    /* width: 65%; */
    border-radius: 5px;
    background-color: #fbfbfb65;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Open Sans', sans-serif;
  }

  .container-l {

    height: 500px;

    float: left;
    width: 25%;
    border-radius: 5px;
    background-color: #fbfbfb65;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Open Sans', sans-serif;
  }

  .container-b {
    float: left;
    width: 98%;
    height: 10%;
    border-radius: 5px;
    background-color: #fbfbfb65;
    padding: 20px;
    margin-top: 2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Open Sans', sans-serif;
  }

  header {
    color: #000000;
}

.cent {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content-l {
    
  margin-top: 2em;
  scrollbar-width: thin;
  scrollbar-color: grey #fbfbfb65;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  height: 80%;
  color:black;
}

.content-r {

  margin-top: 2em;
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: grey #fbfbfb65;
  height: 80%;
  color: rgb(13, 0, 43);
}

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
} */
